services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile.prod
    env_file:
      - backend/config/config.env
    ports:
      - "5000:5000"
    restart: unless-stopped
  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    ports:
      - "3000:80"
    restart: unless-stopped
