.DS_Store
# Ignore devcontainer files if they exist
.devcontainer
# Node modules
node_modules
# Build outputs
dist
# Environment files
.env
.env.local
# Logs
*.log
npm-debug.log
# IDE and OS files
.git
.vscode
pnpm-store